
/*给网页添加背景图片*/
@charset "utf-8";

body{

    margin:auto;
    background-image:url(../images/bg.jpg);
    background-repeat:no-repeat;
    /*水平居中*/
    background-position: center;
    /*垂直居中*/
    background-attachment: top;  
    /*自适应宽度*/
    /*background-size:cover;*/

}

/*加个导航*/
nav{
    float: left;
    width:920;
    height:40px;
    /*background-image:url(../images/nav.jpg);*/ 
    margin: 50px 0 0 0;
    padding: 0 ;
}

/*无序列表*/
nav ul {
    float:left;
    margin: 0px;
    padding: 0 0 0 0;
    width: 920px;
    list-style: none;
}

/*让链接横排*/
nav ul li {
    display: inline;
}

nav ul li a {
    float: left;
    padding: 11px 20px; 
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    background: url(../images/templatemo_menu_divider.png) center right no-repeat;
    color: #fff;    
    font-family: Tahoma;
    outline: none;
}

/*鼠标经过该链接，呈现深绿色*/
nav li a:hover {
    color: #2a5f00;
}



